body {
}

div, p {
    font-size: 10pt;
}

body, h1, h2, h3, h4, li, p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 { font-size: 18pt }

.newMatchedPortion {
    font-weight: bold;
}

.debug {
    background-color: #dcdcdc;
    border-color: #808080;
    border-style: inset;
    border-width: thin;
    margin-top: 12pt;
    min-height: 2in;
    max-height: 2in;
    overflow: auto;
}

.debugCheckbox {
    position: absolute;
    top: 5;
    right: 5;
    color: #999;
}

.debugCheckbox:hover {
    color: #333;
}

.label {
    font-weight: 500;
    color: gray;
}

.matchedPortion {
    font-style: italic;
    margin-top: 0;
    overflow: auto;
    max-height: 2.5in;
    background-color: #ffd700;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.progressBar {
    background: #ccc;
    height: 10px;
    width: 300px;
}

.progressBar > div {
    background: green;
}

.results {
    max-height: 2.5in;
}